body{
  margin: 0px;
  font-family: arial,sans-serif;
  color: rgba(0,0,0,0.87);
  font-size: small;
}
.flex_center{
  display: flex;
  justify-content: center;
}
/* Nav top */
nav{

  display: flex;
  justify-content: flex-end;
}
.flex_nav{
  display: inline-flex;
  padding-right: 30px;
}
#test{
  display: flex;
}
#navButton{
  border: 1px solid #4285f4;
  font-weight: bold;
  outline: none;
  background: #4387fd;
  color: #e4e4e4;
}
/* main */
#googleLogo{
  margin-top: 3rem;
}
#form{
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  border-radius: 2rem;
  margin-bottom: 1rem;

}
#glass{
  width: 5%;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}
.flex_center{
  display: flex;
}
#inputForm{
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 30rem;
  border: none;
  
}
#share{
  align-items: flex-end;
  display: flex;
  margin-left: -2rem;
  margin-bottom: 1rem;
}
.buttonForm{
  padding: 0.7rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  border-radius: 0.3rem;
}
a{
  color: #222;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
/* footer */
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footerHaut{ /* Peut surement trouver un meilleur nom à cette classe */
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  line-height: 40px;
  padding-left: 27px;
  
}
.footerBas{
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  line-height: 40px;
  padding-left: 27px;
  display: flex;
  justify-content: space-between;
}
.ul_footer{
  display: inline-flex;
  list-style-type: none;
  margin-right: 40px;
  padding: 0px;
}

ul.ul_footer{
  margin-top: 0px;
  margin-bottom: 0px;
}
.liLeft{
margin-right: 1rem;
}
.liRight{
margin-left: 1rem;
}


